{% extends "base.html" %}

{% block main_content %}
<body onload="revealButtons()">
<h1>techships.io</h1>

<h2>For students, by students.</h2>

<p>Use this database to share and keep track of any internships!</p>

<br>
<p><b>{{ total }} total internship postings</b></p>

<table class="center">
    <table class="center">
        <thead>
            <tr>
                <th class="tableheads">Company</th>
                <th class="tableheads">Role</th>
                <th class="tableheads">Season</th>
                <th class="tableheads">Year</th>
                <th class="tableheads">Experience</th>
            </tr>
        </thead>
        <tbody id="job-list">
            {% for internship in internships %}
            <tr data-tt="{{ internship.link }}">
                <!-- <button type="button">Favorite</button> -->
                <td> <a href="{{ url_for('company', compName = internship.compName ) }}">{{ internship.compName }}</a> </td>
                <td><a href="{{ internship.link }}">{{internship.role }}</a></td>
                <td>{{ internship.season }}</td>
                <td>{{ internship.yr }}</td>
                <td>{{ internship.experience }}</td>
                <td>
                    <form class="favorite-form" method="post" action="/favorite">
                        {% for fave in favorites %}
                        <input type="hidden" id="favelink" value="{{fave.link}}">
                        <input type="hidden" id="intlink" value="{{internship.link}}">
                        {% endfor %}
                        <label class="star">
                            <span><i class="fa fa-star"  id="saveicon"> Save</i></span>
                            <input type="hidden" class="favbutton" value="0">
                        </label>
                        
                        <input type="submit" name="submit" value="favorite" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
    {% endblock %}