{% extends "base.html" %}

{% block main_content %}

<h1>Your search results when filtering by {{ criteria }}:</h1>

<table class="center">
    <thead>
        <tr>
            <th class="tableheads">Company</th>
            <th class="tableheads">Role</th>
            <th class="tableheads">Season</th>
            <th class="tableheads">Year</th>
            <th class="tableheads">Experience</th>
        </tr>
    </thead>
    <tbody>
        {% for internship in internships %}
        <tr data-cc = "{{internship.compName}}">
            <td> <a href="{{ url_for('company', compName = internship.compName ) }}">{{ internship.compName }}</a> </td>
            <td><a href="{{ internship.link }}">{{internship.role }}</a></td>
            <td>{{ internship.season }}</td>
            <td>{{ internship.yr }}</td>
            <td>{{ internship.experience }}</td>
            <td><form class="favorite-form" method="post" action="/favorite">
                <input type="submit" name="submit" value="favorite" />
              </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}